.footerbar {
    bottom: 0;
    padding: 20px 12px;
    position: absolute;
    height: 60px;
}

.node {
    fill: red;
    stroke: black;
    stroke-width: 1.5px;
}
.line {
    stroke: #333;
    stroke-width: 1.5px;
}
.package {
    fill: blue;
    stroke: none;
}
